<a href="https://colab.research.google.com/github/Facco-Bruno/Alura-ML/blob/Master/Sistemas_de_recomendacao_de_filmes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sistemas de Recomendação

In [1]:
import pandas as pd

filmes = pd.read_csv("movies.csv")
filmes.columns = ["filmeId", "titulo", "generos"]
filmes = filmes.set_index("filmeId")
filmes.head()

                                     titulo                                      generos
filmeId
1                          Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2                            Jumanji (1995)                   Adventure|Children|Fantasy
3                   Grumpier Old Men (1995)                               Comedy|Romance
4                  Waiting to Exhale (1995)                         Comedy|Drama|Romance
5        Father of the Bride Part II (1995)                                       Comedy

In [2]:
notas = pd.read_csv("ratings.csv")
notas.columns = ["usuarioId", "filmeId", "nota", "momento"]
notas.head()

   usuarioId  filmeId  nota     momento
0          1      307   3.5  1256677221
1          1      481   3.5  1256677456
2          1     1091   1.5  1256677471
3          1     1257   4.5  1256677460
4          1     1449   4.5  1256677264

In [3]:
notas.describe()

          usuarioId       filmeId          nota       momento
count  1.142746e+07  1.142746e+07  1.142746e+07  1.142746e+07
mean   5.876240e+04  1.824783e+04  3.528904e+00  1.191728e+09
std    3.399144e+04  3.483240e+04  1.070021e+00  2.160879e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  1.197410e+05
25%    2.955800e+04  1.097000e+03  3.000000e+00  9.977381e+08
50%    5.891000e+04  2.710000e+03  3.500000e+00  1.171839e+09
75%    8.834600e+04  7.087000e+03  4.000000e+00  1.420776e+09
max    1.173030e+05  1.938820e+05  5.000000e+00  1.537945e+09

## Recomendação Heurística de total de votos

In [6]:
total_de_votos = notas["filmeId"].value_counts()
total_de_votos.head(10)

318     40554
356     39935
296     38098
593     36293
2571    34753
260     33672
480     31561
527     29591
110     28397
1       28246
Name: filmeId, dtype: int64

In [5]:
filmes['total_de_votos'] = total_de_votos
filmes.head()

                                     titulo  ... total_de_votos
filmeId                                      ...
1                          Toy Story (1995)  ...        28246.0
2                            Jumanji (1995)  ...        11108.0
3                   Grumpier Old Men (1995)  ...         6573.0
4                  Waiting to Exhale (1995)  ...         1266.0
5        Father of the Bride Part II (1995)  ...         6446.0

[5 rows x 3 columns]

In [7]:
filmes.sort_values("total_de_votos", ascending = False).head(10)

                                            titulo  ... total_de_votos
filmeId                                             ...
318               Shawshank Redemption, The (1994)  ...        40554.0
356                            Forrest Gump (1994)  ...        39935.0
296                            Pulp Fiction (1994)  ...        38098.0
593               Silence of the Lambs, The (1991)  ...        36293.0
2571                            Matrix, The (1999)  ...        34753.0
260      Star Wars: Episode IV - A New Hope (1977)  ...        33672.0
480                           Jurassic Park (1993)  ...        31561.0
527                        Schindler's List (1993)  ...        29591.0
110                              Braveheart (1995)  ...        28397.0
1                                 Toy Story (1995)  ...        28246.0

[10 rows x 3 columns]

In [8]:
notas_medias = notas.groupby("filmeId").mean()["nota"]
notas_medias.head()

filmeId
1    3.887524
2    3.246174
3    3.184162
4    2.886651
5    3.083618
Name: nota, dtype: float64

In [9]:
filmes["nota_media"] = notas_medias
filmes.sort_values("total_de_votos", ascending = False).head(10)

                                            titulo  ... nota_media
filmeId                                             ...
318               Shawshank Redemption, The (1994)  ...   4.422770
356                            Forrest Gump (1994)  ...   4.058207
296                            Pulp Fiction (1994)  ...   4.180128
593               Silence of the Lambs, The (1991)  ...   4.153198
2571                            Matrix, The (1999)  ...   4.146721
260      Star Wars: Episode IV - A New Hope (1977)  ...   4.122565
480                           Jurassic Park (1993)  ...   3.665172
527                        Schindler's List (1993)  ...   4.258322
110                              Braveheart (1995)  ...   4.007624
1                                 Toy Story (1995)  ...   3.887524

[10 rows x 4 columns]

## Nota média e votos

In [10]:
filmes.sort_values("nota_media", ascending = False).head(10)

                                                    titulo  ... nota_media
filmeId                                                     ...
147839                          Bi, Don't Be Afraid (2010)  ...        5.0
142891                 The Legend of Paul and Paula (1973)  ...        5.0
166328                  Judas Priest: British Steel (2001)  ...        5.0
142242                                Gun Hill Road (2011)  ...        5.0
142334                              The Last Hunter (1980)  ...        5.0
142576                                       Genius (1999)  ...        5.0
142608                             A Song of Lisbon (1933)  ...        5.0
177705                 Rogue Warrior: Robot Fighter (2017)  ...        5.0
142727                                      Remains (2011)  ...        5.0
166324   Classic Albums: Iron Maiden - The Number of th...  ...        5.0

[10 rows x 4 columns]

In [11]:
filmes.query("total_de_votos >= 10").sort_values("nota_media", ascending = False).head(10)

                                       titulo  ... nota_media
filmeId                                        ...
182723            Cosmos: A Spacetime Odissey  ...   4.785714
191999            The Reichenbach Fall (2012)  ...   4.500000
171011                 Planet Earth II (2016)  ...   4.497245
159817                    Planet Earth (2006)  ...   4.467914
106503          Enemies of Reason, The (2007)  ...   4.454545
318          Shawshank Redemption, The (1994)  ...   4.422770
104920                       Vizontele (2001)  ...   4.409091
171495                                 Cosmos  ...   4.402985
154474            Palmeras en la nieve (2015)  ...   4.375000
174053   Black Mirror: White Christmas (2014)  ...   4.369617

[10 rows x 4 columns]

In [12]:
filmes_com_mais_de_50_votos = filmes.query("total_de_votos >= 50")
filmes_com_mais_de_50_votos.sort_values("nota_media", ascending = False).head(10)

                                          titulo  ... nota_media
filmeId                                           ...
171011                    Planet Earth II (2016)  ...   4.497245
159817                       Planet Earth (2006)  ...   4.467914
318             Shawshank Redemption, The (1994)  ...   4.422770
171495                                    Cosmos  ...   4.402985
174053      Black Mirror: White Christmas (2014)  ...   4.369617
170705                   Band of Brothers (2001)  ...   4.355000
172591   The Godfather Trilogy: 1972-1990 (1992)  ...   4.345506
858                        Godfather, The (1972)  ...   4.337532
176601                              Black Mirror  ...   4.300000
50                    Usual Suspects, The (1995)  ...   4.288456

[10 rows x 4 columns]

In [13]:
eu_assisti = [1, 21, 19, 10, 11, 7, 2]
filmes.loc[eu_assisti]

                                        titulo  ... nota_media
filmeId                                         ...
1                             Toy Story (1995)  ...   3.887524
21                           Get Shorty (1995)  ...   3.564095
19       Ace Ventura: When Nature Calls (1995)  ...   2.645953
10                            GoldenEye (1995)  ...   3.425540
11              American President, The (1995)  ...   3.662565
7                               Sabrina (1995)  ...   3.374527
2                               Jumanji (1995)  ...   3.246174

[7 rows x 4 columns]

In [14]:
aventura_infantil_e_fantasia = filmes_com_mais_de_50_votos.query("generos=='Adventure|Children|Fantasy'")
aventura_infantil_e_fantasia.drop(eu_assisti, errors='ignore').sort_values("nota_media", ascending = False).head(10)

                                                    titulo  ... nota_media
filmeId                                                     ...
4896     Harry Potter and the Sorcerer's Stone (a.k.a. ...  ...   3.668998
2161                         NeverEnding Story, The (1984)  ...   3.489147
50601                          Bridge to Terabithia (2007)  ...   3.453988
41566    Chronicles of Narnia: The Lion, the Witch and ...  ...   3.417031
82169    Chronicles of Narnia: The Voyage of the Dawn T...  ...   3.296253
2043             Darby O'Gill and the Little People (1959)  ...   3.259298
59501     Chronicles of Narnia: Prince Caspian, The (2008)  ...   3.182243
1009                       Escape to Witch Mountain (1975)  ...   3.144960
56171                           Golden Compass, The (2007)  ...   3.143568
160573                                Pete's Dragon (2016)  ...   3.135965

[10 rows x 4 columns]